@media (max-width: 1410px) {
    .overview {
        width: 92vw;
    }

    .budget {
        padding: 40px;
        margin-top: 18vh;
        width: 15vw;
        height: 13vw;
    }

    .total,
    .expense,
    .balance {
        font-size: 20px;
    }

}



@media (max-width: 930px) {
    .overview {
        width: 88vw;
    }

    .budget {
        padding: 70px;
    }

    .total,
    .expense,
    .balance {
        font-size: 18px;
    }

    #category {
        width: 20vw;
        font-size: 15px;
        font-weight: 500;
        padding: 0 6px 0 6px;
    }

    #date {
        padding-left: 0px;
        width: 20vw;
        font-size: 15px;
        font-weight: 500;
    }

    #payment {
        width: calc(100vw - 60vw);
        font-size: 15px;
        font-weight: 500;
    }

    .seeDiv {
        width: 35vw;
    }

    .container {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .seeDiv {
        width: 50vw;
    }
}

@media (max-width: 590px) {
    .overview {
        width: 84vw;
    }

    .budget {
        margin-top: 16vh;
        padding: 90px;
    }

    .expensesAdd,
    #editExpense {
        padding: 8px 9vw 15px 15px;
    }

    .seeDiv {
        width: 60vw;
    }
}

@media (max-width : 460px) {
    .overview {
        width: 81vw;
    }

    .budget {
        padding: 120px;
        margin-top: 10vh;

    }

    .total,
    .expense,
    .balance {
        font-size: 13px;
    }

    #category {
        font-size: 12px;
        font-weight: 400;
    }

    #date {
        font-size: 12px;
        font-weight: 400;
    }

    #payment {
        width: calc(100vw - 64vw);
        font-size: 12px;
        font-weight: 400;
        padding: 0px 2vw 0px 5vw;
    }

    .buttons button {
        padding: 5px;
        margin: 4px;
    }

    .expensesAdd,
    #editExpense {
        padding: 8px 9vw 15px 9px;
        margin-top: 13px;
    }

    .x {
        margin-bottom: 5px;
    }

    .seeDiv {
        width: 60vw;
    }

    .nav-links li {
        margin-right: 20px;
    }
}

@media (max-width : 385px) {
    .overview {
        width: 79vw;
    }

    .budget {
        padding: 110px;
    }

    #category {
        font-size: 11px;
    }

    #date {
        font-size: 11px;
    }

    #payment {
        width: calc(100vw - 65.5vw);
        font-size: 11px;
        padding: 0px 2vw 0px 4vw;
    }

    .buttons button {
        padding: 4px 2px 4px 2px;
        margin: 7px;
    }

    .expensesAdd,
    #editExpense {
        padding: 8px 10vw 15px 15px;
    }

    .seeDiv {
        width: 50vw;
    }

    .nav-links li {
        margin-right: 15px;
    }
}