@media (max-width: 1410px) {
    .overview {
        width: 92vw;
    }

    .budget {
        padding: 40px;
        margin-top: 20vh;
        width: 15vw;
        height: 13vw;
    }

    .total,
    .expense,
    .balance {
        font-size: 20px;
    }

}



@media (max-width: 930px) {
    .overview {
        width: 88vw;
    }

    .budget {
        padding: 70px;
    }

    .total,
    .expense,
    .balance {
        font-size: 18px;
    }

    #category {
        width: 20vw;
        font-size: 15px;
        font-weight: 500;
        padding: 0 6px 0 6px;
    }

    #date {
        padding-left: 0px;
        width: 20vw;
        font-size: 15px;
        font-weight: 500;
    }

    #payment {
        width: calc(100vw - 60vw);
        font-size: 15px;
        font-weight: 500;
    }
}

@media (max-width: 590px) {
    .overview {
        width: 84vw;
    }

    .budget {
        margin-top: 18vh;
        padding: 90px;
    }
}

@media (max-width : 460px) {
    .overview {
        width: 81vw;
    }

    .budget {
        padding: 120px;
        margin-top: 14vh;
    }

    .total,
    .expense,
    .balance {
        font-size: 16px;
    }

    #category {
        font-size: 12px;
        font-weight: 400;
    }

    #date {
        font-size: 12px;
        font-weight: 400;
    }

    #payment {
        width: calc(100vw - 65vw);
        font-size: 12px;
        font-weight: 400;
    }

    .buttons button {
        padding: 5px;
        margin: 4px;
      }
}

@media (max-width : 385px) {
    .overview {
        width: 79vw;
    }

    .budget {
        padding: 110px;
    }

    #category {
        font-size: 11px;
    }

    #date {
        font-size: 11px;
    }

    #payment {
        width: calc(100vw - 67vw);
        font-size: 11px;
    }

    .buttons button {
        padding: 4px 2px 4px 2px;
        margin: 7px;
      }
}